online-list {
    ul {
        -ms-overflow-style: none;
        border-bottom: 1px solid #ddd;
        display: block;
        list-style-type: none;
        overflow-x: scroll;
        overflow-y: hidden;
        overflow: -moz-scrollbars-none;
        padding: 0 0 10px 0;
        white-space: nowrap;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }
    li {
        display: inline-block;
        margin-left: 10px;
    }
    img {
        border-radius: 50%;
        height: 65px;
        width: 65px;
    }
}
