page-profile {
    padding-top: 65px;
    .header {
        position: relative;
    }
    
    .list--user-info {
        h1 {
            color: #a0a0a0;
            font-size: 14px;
        }
        h2 {
            padding-left: 20px;
            font-size: 18px;
            color: #333;
        }
    }
    button.button.button-md.button-default.button-default-md.button-round.button-round-md {
        margin-left: auto;
        margin-right: auto;
        display: block;

        span {
            padding: 10px 0;
        }
    }

    .image-container--user {
        .Mystic {
            background-color: $mysticPrimaryColor;
        }
        .Valor {
            background-color: $valorPrimaryColor;
        }
        .Instinct {
            background-color: $instinctPrimaryColor;
        }
    }
    .button--edit {
        position: fixed;
        right: 10px;
        top: 20px;
        background: transparent;
        color: #bbb;
        box-shadow: none;
    }
}
