<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img [src]="post.u.im" alt="">
      <!-- <img src="https://firebasestorage.googleapis.com/v0/b/pogo-pal-1532794775743.appspot.com/o/andrew.jpg?alt=media&token=c401c972-fd26-45e8-8caa-2a8524c6050b" alt=""> -->
    </ion-avatar>
    <h2>{{ post.u.n }}</h2>
    <p>Posted {{ postTime }} Min. ago</p>
  </ion-item>

  <img [src]="post.im" *ngIf="post.im" alt="">

  <ion-card-content>
    <p>{{ post.d }}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small (click)="toggleInterested()">
        <ion-icon name="contacts"></ion-icon>
        <div>{{ post.l }} Interested</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small (click)="viewPost()">
        <ion-icon name="text"></ion-icon>
        <div>{{ post.c }} Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        {{ getCeilDistance( post.queryMetadata.distance ) }} Mi. away
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>