// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primary-background: red;
$primary-link: red;

$mysticPrimaryColor: #3B4cca;
$valorPrimaryColor: #FF0000;
$instinctPrimaryColor: #FFDE00;

$mystic: $mysticPrimaryColor;
$valor: $valorPrimaryColor;
$instinct: $instinctPrimaryColor;

.Mystic {background: $mystic;}
.Valor {background: $valor;}
.Instinct {background: $instinct;}

.header::after {
    background-image: none;
}

.alert, .alert-md {
    .alert-wrapper {
        max-width: 90%;
    }
}

.button--default {
    background: white;
    box-shadow: none;
    color: red;
    font-size: 12px;
}
.button--border {
    border: 1px solid red;
}

.fab[mini] {
    box-shadow: 0 0 10px;
}
.button--fab {
    background: white;
    border: 1px solid red;
}

.scroll-content {
    box-sizing: border-box;
}

.cta--default {
    background: $primary-background;
}

.link--default {
    color: $primary-link;
}

.title--default {
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.scroll-content {
    padding-top: 65px;
}