page-post-new {
    padding-top: 65px;
    .header {
        position: relative;
    }
    .scroll-content {
        padding-bottom: 0 !important;
    }

    .button--submit-post {
        margin-top: 20px;
    }
}
